<%= render partial: 'admin/shared/navtab' %>
<h2>天氣群組</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>天氣群組</th>
      <th>標籤</th>
    </tr>
  </thead>
  <tbody>
    <% @weather_collects.each do |weather_collect| %>
    <tr>
      <td>
        <%= weather_collect.name %>
      </td>
      <td><%= weather_collect.tags.map(&:name).join(',') %></td>
      <% if current_user.superman? %>
        <td><%= link_to '編輯', edit_admin_weather_collect_path(weather_collect),class: "btn btn-xs btn-default" %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>所有標籤</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>標籤</th>
      <th>屬於哪個天氣群組</th>
      <th>變更天氣群組</th>
      <th>刪除標籤</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
    <tr>
      <td><%= tag.name %></td>
      <% if tag.weather_collect.present? %>
        <td><%= tag.weather_collect.name %></td>
      <% else %>
        <td style="color:red;">還未選擇</td>
      <% end %>
      <td>
        <% @weather_collects.each do |weather_collect| %>
          <%= link_to weather_collect.name, admin_tag_path(id: tag.id, weather_collect_id: weather_collect.id), method: :patch, class: "btn btn-xs btn-primary"  %>
        <% end %>
      </td>
      <td>
        <%= link_to '刪除', admin_tag_path(tag), method: :delete, class: "btn btn-xs btn-danger", data: {confirm:"Are you sure?"}  %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
