<%= render partial: 'admin/shared/navtab' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>特定商品滿幾件打折 (Item_P)</th>
      <th>Item Discount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= form_tag admin_promotional_path(@promotional), method: :patch, class: "form-inline" do %>
          <%= text_field_tag :item_p, @promotional.item_p, class: "form-control" %>
          <%= submit_tag "變更數量", class: "btn btn-primary" %>
        <% end %>
      </td>
      <td>
        <%= form_tag admin_promotional_path(@promotional), method: :patch, class: "form-inline" do %>
          <%= select_tag :item_discount, options_for_select(Promotional::DISCOUNT, @promotional.item_discount), class: "form-control" %>
          <%= submit_tag "變更折扣", class: "btn btn-primary" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th>特定商家商品滿幾件打折 (Vendor_P)</th>
      <th>Vendor Discount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= form_tag admin_promotional_path(@promotional), method: :patch, class: "form-inline" do %>
          <%= text_field_tag :vendor_p, @promotional.vendor_p, class: "form-control" %>
          <%= submit_tag "變更數量", class: "btn btn-primary" %>
        <% end %>
      </td>
      <td>
        <%= form_tag admin_promotional_path(@promotional), method: :patch, class: "form-inline" do %>
          <%= select_tag :vendor_discount, options_for_select(Promotional::DISCOUNT, @promotional.vendor_discount), class: "form-control" %>
          <%= submit_tag "變更折扣", class: "btn btn-primary" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th>總額滿多少</th>
      <th>Cart Discount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= form_tag admin_promotional_path(@promotional), method: :patch, class: "form-inline" do %>
          <%= text_field_tag :order_p, @promotional.order_p, class: "form-control" %>
          <%= submit_tag "變更額度", class: "btn btn-primary" %>
        <% end %>
      </td>
      <td>
        <%= form_tag admin_promotional_path(@promotional), method: :patch, class: "form-inline" do %>
          <%= select_tag :order_discount, options_for_select(Promotional::DISCOUNT, @promotional.order_discount), class: "form-control" %>
          <%= submit_tag "變更折扣", class: "btn btn-primary" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<!-- 
    CART_ITEM_DISCOUNT = 0.8
    CART_DISCOUNT = 0.8
    ORDER_DISCOUNT = 1000
    MAXIMUM_DISCOUNT = 500
    DISCOUNT_DEADLINE = Time.new(2019,3,1)
    暫定優惠只到 2019/2/28 23:59:59
-->