<div class="container">
  <div class="row">
    <h3>目前有：<%= current_user.orders.size %> 筆訂單</h3>

    <br> 

      <% @orders.each do |order| %>
        <div class="col-md-12">
          <div class="panel panel-default">

            <div class="col-md-6">
              <h2>訂單編號 # <%= order.sn %></h2>
              <div class="panel-body">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>商品名稱</th>
                      <th>數量</th>
                      <th>單價</th>
                      <th>小計</th>
                      <td>#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% order.order_items.each do |cart_item| %>
                      <tr>
                        <td><%= cart_item.product.title %></th>
                        <td><%= cart_item.quantity %></td>
                        <td>$<%= cart_item.item_price %></td>
                        <td>$<%= cart_item.cart_item_price %></td>
                      </tr>
                    <% end %>
                  </tbody>
                    <tr>
                      <td>運費</td>
                      <td></td>
                      <td></td>
                      <td>$<%= order.shipping_fee %></td>
                    </tr>               
                    <tr>
                      <td>SUBTOTAL (總計)</td>
                      <td></td>
                      <td></td>
                      <td>$<%= order.amount %></td>
                    </tr>                  
                </table>
                <h5>Shopping Information</h5>
                <p class="card-text"><%= order.name %>訂單人姓名, <%= order.phone %>訂單人電話, <%= order.address %>訂單人地址</p>
              </div>   
            </div>
          
            <div class="col-md-6">
              <h5>Payment Status: <%#= order.show_payment_status %></h5>
              <h5>Shipping Status: <%#= order.show_shipping_status %></h5><br>
              <%# if order.payment_status == "not_paid" && order.shipping_status != "cancelled" %>
                <%= link_to 'Credit',orders_path, class: "btn btn-default" %>
                <%= link_to 'Web ATM',orders_path, class: "btn btn-default" %>
                <%= link_to 'ATM',orders_path, class: "btn btn-default" %>
              <%# end %>
              <%# if order.shipping_status == "not_shipped" %>           
                <%= link_to '取消訂單', order_path(order), method: :patch, data: { confirm: "Are you sure?"}, class: "btn btn-default btn-danger" %>  
              <%# end %>
            </div>

          </div>
        </div>
      <% end %>

  </div>
</div>   


           