<h1>購物車</h1>

<%= link_to '繼續選購', products_path, class: "btn btn-default" %>
<%= link_to '清空購物車', cart_path, method: :delete, class: "btn btn-default btn-danger" %>
<%= link_to '訂單', orders_path, class: "btn btn-default" if current_user %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>商品名稱</th>
      <th>Produc.state</th>
      <th>數量</th>
      <th>單價</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% current_cart.items.each do |item| %>
      <tr>
        <td><%= item.product.title %></td>
        <td><%= item.product.state %></td>
        <td><%= item.quantity %></td>
        <td><%= item.product.price %></td>
        <td><%= item.price %></td>
      </tr>
    <% end %>
  </tbody>
  <tfood>
    <tr>
      <td colspan="4">運費</td>
      <td><%= current_cart.shipping_fee %></td>
    </tr>
  <tr>
    <td colspan="4">總計</td>
    <td><%= current_cart.total_price %></td>
  </tr>
  </tfood>
</table>
  <div class="card">
    <h5 class="card-header">Shopping Information</h5>
    <div class="card-body">
      <div class="col-md-4">
        <%= form_for @order do |f| %>
        <%= f.submit '前往付款', class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <br>
  <% end %>
