<div class="container">
  <div class="row">
    <div class="col-12 col-md-12">
      <%= form_for  [:admin, @product] do |f| %>
        <div class="form-group">
          <%= f.collection_select :vendor_id, Vendor.all, :id, :name, {prompt: true}, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.text_field :title, placeholder: "Product Name", class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.text_field :description, placeholder: "Add Product Description", class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.text_field :price, placeholder: "Price", class: "form-control"%>
        </div>
        <div class="form-group">
          <label><h4>促銷狀態 -- ></h4></label>
          <%= f.radio_button :state, 'Normal', class: "form-check-input" %>
          <%= label :state, 'Normal', class: "form-check-label" %>
          <%= f.radio_button :state, 'ItemP', class: "form-check-input" %>
          <%= label :state, 'ItemP', class: "form-check-label" %>
          <%= f.radio_button :state, 'VendorP', class: "form-check-input" %>
          <%= label :state, 'VendorP', class: "form-check-label" %>
          <%= f.radio_button :state, 'ForFree', class: "form-check-input" %>
          <%= label :state, 'ForFree', class: "form-check-label" %>
        </div>
        <div class="form-group">
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
          