<%= render partial: 'admin/shared/navtab' %>
  <h1>商品列表 <%= link_to '新增商品', new_admin_product_path, class: "btn btn-default btn-light" %> </h1>

  <ul class="nav nav-pills nav-pills-center">
    <li role="presentation" class="active"><%=link_to '全部商品', admin_products_path %></li>
      <% @vendors.each do |vendor| %>
    <li role="presentation">
      <%= link_to vendor.name, admin_vendor_path(vendor) %>
    </li>
      <% end %>
  </ul>


<table class="table table-hover">
  <thead>
    <tr>
      <th>商品名稱</th>
      <th>售價</th>
      <th>編輯</th>
      <th>狀態</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <%= product.title %>
      </td>
      <td><%= product.price %></td>
      <td>
        <%= link_to '編輯', edit_admin_product_path(product), class: "btn btn-xs btn-default" %>
        <%= link_to '刪除', admin_product_path(product), method: "delete", data: { confirm: "確定刪除?" }, class: "btn btn-xs btn-default" %>
      </td>
      <td>
        <%= form_for  [:admin, product] do |f| %>
          <%= f.submit "更改促銷狀態", class: "btn btn-xs btn-default" %>
          <%= f.radio_button :state, 'normal' %>
          <%= label :state, 'normal' %>
          <%= f.radio_button :state, 'item_p' %>
          <%= label :state, 'item_p' %>
          <%= f.radio_button :state, 'vendor_p' %>
          <%= label :state, 'vendor_p' %>
          <%= f.radio_button :state, 'for_free' %>
          <%= label :state, 'for_free' %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>