<%= render partial: 'admin/shared/navtab' %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>姓名</th>
      <th>權限</th>
      <th>編輯</th>
      <th>狀態</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.name %>
      </td>
      <td><%= user.role %></td>
      <td>
        <%= form_for  [:admin, user] do |f| %>
          <%= f.radio_button :role, 'normal' %>
          <%= label :role, 'normal' %>
          <%= f.radio_button :role, 'admin' %>
          <%= label :role, 'admin' %>
          <%= f.radio_button :role, 'superAdmin' %>
          <%= label :role, 'superAdmin' %>
          <%= f.submit "更改權限", class: "btn btn-xs btn-default" %>
        <% end %>  
      </td>
      <td>
        <%= link_to '編輯', edit_admin_user_path(user), class: "btn btn-xs btn-default" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>