<%= render partial: 'admin/shared/navtab' %>
<div class="container">
  <div class="row col-md-offset-4">
    <h1>新增管理員</h1>
    <br>
    <div class="col-md-6">
      <%= form_for  [:admin, @user] do |f| %>
        <div class="form-group">
          <!-- 如果是廠商管理員，直接把廠商寫死 -->
          <%= f.label :vendor, "屬於哪個廠商" %>
          <%= f.collection_select :vendor_id, Vendor.all, :id, :name, {prompt: "Select Vendor"}, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.text_field :name, placeholder: "姓名", class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.text_field :email, placeholder: "Email", class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.text_field :password, placeholder: "密碼", class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.select(:role, options_for_select(User::ROLE, @user.role), {}, { :class => 'form-control'}) %>
        </div>
        <div class="form-group">
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
