<%= render partial: 'admin/shared/navtab' %>
<div class="container">
  <div class="row col-md-offset-4">
    <h1>新增管理員</h1>
    <br>
    <div class="col-md-6">
      <%= form_for  [:admin, @user] do |f| %>
        <div class="form-group">
          <% if current_user.vendor_admin? %>
            <%= f.label :vendor, "屬於哪個廠商" %>
            <%= f.collection_select :vendor_id, Vendor.where(id: current_user.vendor_id), :id, :name, {}, {class: "form-control",  readonly: true} %>
          <% else %>
            <%= f.label :vendor, "屬於哪個廠商" %>
            <%= f.collection_select :vendor_id, Vendor.all, :id, :name, {prompt: "選擇廠商"}, {class: "form-control"} %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.text_field :name, placeholder: "姓名", class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.text_field :email, placeholder: "Email", class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.text_field :password, placeholder: "密碼", class: "form-control"%>
        </div>
        <div class="form-group">
          <!-- 不同角色要有不同 role -->
          <%= f.select(:role, options_for_select(which_role(@user), @user.role), {}, { :class => 'form-control'}) %>
        </div>
        <div class="form-group">
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
