<%= render partial: 'admin/shared/navtab' %>
<h1>廠商 <%= @vendor.name %></h1>

    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation"><%=link_to '全部商品', admin_products_path %></li>
        <% @vendors.each do |vendor| %>
      <li role="presentation" class="<%= "active" if vendor == @vendor %>">
        <%= link_to vendor.name, admin_vendor_path(vendor) %>
      </li>
        <% end %>
    </ul>

<table class="table table-hover">
  <thead>
    <tr>
      <th>商品名稱</th>
      <td>售價</th>
      <th>#</th>
      <th>狀態</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <%= product.title %>
      </td>
      <td><%= product.price %></td>
      <td>
        <%= link_to '編輯', edit_admin_product_path(product), class: "btn btn-xs btn-default" %>
        <%= link_to '刪除', admin_product_path(product), method: "delete", data: { confirm: "確定刪除?" }, class: "btn btn-xs btn-default" %>
      </td>
      <td>
        <%= form_for  [:admin, product] do |f| %>
          <%= render partial: 'admin/shared/product_state', locals:{f: f} %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '整家促銷', update_state_admin_vendor_path(@vendor), method: "post", class: "btn btn-danger" %>